header {
  display: flex;
  justify-content: space-between;
  font-size: xx-large;
  padding: 5%;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

#container {
  color: #fff;
  text-transform: capitalize;
}

.top_info {
  padding-left: 7%;
  padding-right: 8%;
  display: flex;
  justify-content: space-between;
}

.top_left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.top_left > :first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

h5 {
  margin: 0;
  font-weight: 500;
}
h1 {
  margin: 0;
}
.top_right {
  font-weight: 500;
}
