.pokegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 17px;
  padding: 1rem;
}

.pokecard {
  width: 165px;
  height: 110px;
  background-color: #62D597;
  color: #fff;
  border-radius: 10px;
  padding: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokename {
  margin: 0;
}

.pokeimage {
  width: 100%;
}
