header{
    text-align: center;
}

nav{
    display: contents;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303840;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    user-select: none;
  }

li a:hover {
    padding: 10px 14px;
    margin: 4px 2px;
    background-color: #878a8c;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

li a:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.logo{
    height: 17vh;
    width: 17vh;
    min-width: 100px;
    min-height: 100px;
}

html{
    background-color: #f2f2f2 ;
    font-family: "Teko", sans-serif;
    font-size: 1.3em;
}



