header{
    text-align: center;
}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px;
}

nav{
    display: contents;
    position: fixed;
    top: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303840;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

li {
    float: left;
}


li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    user-select: none;
    padding: 10px 14px;
    margin: 4px 2px;
    background-color: #878a8c;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

li a:hover {
    background-color: #111;
  
}

li a:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.logo{
    height: 17vh;
    width: 17vh;
    min-width: 100px;
    min-height: 100px;
}

html{
    scroll-behavior: smooth;
    font-family: "Teko", sans-serif;
    font-size: 1.3em;
    background-color: #303840;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='268' height='268' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23F2F2F2' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23878A8C'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

section{
    text-align: center;
}

.yo{
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.nombre{
    margin-bottom: 0;
}

.soy{
    margin-top: 0;
    width: 100%;
}

section {
    justify-content: center;
    margin: 0;
    padding: 0;
}

.skills{
    padding-top: 2%;
    
}

.Habilidades{
    padding-top: 2%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

@media (max-width: 768px) {
    .Habilidades{
        grid-template-columns: 1fr;
    }
    img{
        width: 100%;
    }

    video {
        width: 100%;
    }
    table{
        width: 90%;
    }

    .about-me{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .Habilidades{
        grid-template-columns: 1fr 1fr;
    }

    img{
        width: 80%;
        height: 80%;
    }

    video{
        width: 80%;
    }
    .img-about{
        width: 50%;
    }

    .contacto {
        grid-template-columns:  1fr 1fr;
    }
    table{
        width: 90%;
    }
    .about-me{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1024px) {
    .Habilidades {
        grid-template-columns: repeat(3, 1fr);
    }

    img{
        width: 60%;
        height: 60%;
    }

    video{
        width: 80%;
    }
    .img-about{
        width: 25%;
    }

    .contacto {
        grid-template-columns: 1fr;
    }

    table{
        width: 90%;
    }

    .about-me{
        grid-template-columns: 1fr;
    }
}

#html{
    width: 50%;
}

#css{
    width: 60%;
}

#js{
    width: 40%;
}

#python{
    width: 50%;
}

#java{
    width: 40%;
}

#c{
    width: 40%;
}

.img-proyecto{
    border-radius: 5px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.proyecto h2{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 5px;
}

.proyecto{
    align-items: center;
}

.titulo-section{
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 5px;
}

table{
    align-self: center;
    margin: auto;
    width: 50%;
    border-collapse: collapse;
}

th{
    background-color: #f2f2f2;
    
}

th, td{
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: transparent !important;
    color: #f2f2f2;
}

tr:nth-child(odd) {background-color: #babddf;}
tr:nth-child(even) {background-color: #ccc;}

.subtitulo{
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    width: 25%;
    margin: auto;
}

.subtitulo h2{
    padding: 5px;
}

.img-about{
    margin-top: 10px;
    border-radius: 50%;
    width: 50%;
}

.about-me{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.about-me h1{
    text-align: justify;
    padding-right: 10%;
}

.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: stretch;
    row-gap: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}



.contacto .contacto-into{
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.contacto-into img{
    margin: auto;
    width: 50%;
    height: auto;
    padding-top: auto;
}

.contacto h1:first-child{
    text-align: center;
    grid-column: 1/4;
}

form{
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 10%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}